body {
  font-family: TT Commons, Roboto, Oxygen, "Helvetica Neue", sans-serif;
  margin: 0;
}
body #resume {
  width: 1240px;
  width: 1240px;
  margin: auto;
  width: 1240px;
  margin: auto;
  display: grid;
  margin: auto;
  grid-template: 240px auto/240px auto;
}
body .profile {
  background-color: #0c7cd5;
  grid-column: 1;
  grid-row: 1;
  border-bottom: 12px solid #fff;
}
body header {
  grid-column: 2;
  grid-row: 1;
  border-bottom: 12px solid #0c7cd5;
}
body .sidebar {
  background-color: #0c7cd5;
  color: #fff;
  grid-column: 1;
  grid-row: 2;
}
body main {
  grid-column: 2;
  grid-row: 2;
}

.qr {
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__image {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px 10px;
  font-size: 20px;
  font-style: normal;
}
.contact .title__name {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}
.contact .title__profession {
  font-size: 1.1em;
  font-weight: 400;
  color: #0c7cd5;
  margin: 0;
}
.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9em;
  font-style: normal;
}
.contact-info > * {
  margin: 0;
}
.contact-info > * a {
  color: #000;
  text-decoration: none;
}
.contact-info .qr {
  position: absolute;
  right: -20px;
  bottom: 0;
}

.section {
  margin-bottom: 20px;
}
.section__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
}
.section .article {
  margin-bottom: 20px;
}
.section .article__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.25em;
  font-weight: 400;
}
.section .article__items {
  margin: 0;
  margin-bottom: 10px;
}
.section:last-of-type {
  margin-bottom: 0;
}

.sidebar {
  padding: 25px 15px;
}
.sidebar .section__title {
  border-bottom: 2px solid #fff;
}
.sidebar .article__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  list-style-type: none;
}
.sidebar .article__items > * {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.sidebar .article__items > * > span {
  font-weight: 600;
}
.sidebar .portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-style: normal;
}
.sidebar .portfolio > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.sidebar .portfolio > * a {
  color: #fff;
  text-decoration: none;
  margin-top: 5px;
}

main {
  padding: 25px;
}
main .job .article__title {
  margin-bottom: 5px;
}
main .job__workplace {
  font-size: 0.75em;
  color: #959a9f;
}
main .job__timeline {
  display: inline-block;
  margin-bottom: 5px;
  color: #0c7cd5;
}
main .job__stack {
  margin-bottom: 10px;
}
main .job__stack > span {
  display: inline-block;
  background-color: #959a9f;
  color: #fff;
  font-size: 0.8em;
  line-height: 20px;
  border-radius: 10px;
  padding: 0 7.5px;
}

.download {
  position: sticky;
  bottom: 20px;
  display: flex;
  justify-content: end;
  margin: 0 20px;
}
.download__button {
  border: none;
  border-radius: 10px;
  background-color: #0c7cd5;
  color: #fff;
  padding: 15px;
  font-size: 16px;
  transition: all 0.1s linear;
}
.download__button:hover {
  background-color: #0d82df;
  cursor: pointer;
}
.download__button:active {
  background-color: #0e8df1;
  transition: none;
}

/*# sourceMappingURL=style.css.map */
