$color-primary: #0c7cd5;
$color-secondary: #959a9f;

%title {
    margin: 0;
    margin-bottom: 20px;
}

%section {
    margin: 0 0 25px 0;
    border-left: 2px solid;
    padding-left: 25px;
}

body {
    font-family: TT Commons, Roboto, Oxygen, 'Helvetica Neue', sans-serif;
    margin: 0;

    #resume {
        width: 1240px;
        width: 1240px;
        margin: auto;
        width: 1240px;
        margin: auto;
        display: grid;
        margin: auto;
        grid-template: 240px auto / 240px auto;
    }

    .profile {
        background-color: $color-primary;
        grid-column: 1;
        grid-row: 1;
        border-bottom: 12px solid #fff;

    }

    header {
        grid-column: 2;
        grid-row: 1;
        border-bottom: 12px solid $color-primary;
    }

    .sidebar {
        background-color: $color-primary;
        color: #fff;
        grid-column: 1;
        grid-row: 2;
    }

    main {
        grid-column: 2;
        grid-row: 2;
    }
}

.qr {
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 10px;
    font-size: 20px;
    font-style: normal;

    .title {
        &__name {
            font-size: 2em;
            font-weight: 400;
            margin: 0;
        }

        &__profession {
            font-size: 1.1em;
            font-weight: 400;
            color: $color-primary;
            margin: 0;
        }
    }

    &-info {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: .9em;
        font-style: normal;

        &>* {
            margin: 0;

            & a {
                color: #000;
                text-decoration: none;
            }
        }

        .qr {
            position: absolute;
            right: -20px;
            bottom: 0;
        }
    }
}

.section {
    margin-bottom: 20px;

    &__title {
        margin: 0;
        margin-bottom: 20px;
        font-size: 1.5em;
        font-weight: 400;
        padding-bottom: 5px;
        border-bottom: 2px solid #000;
    }

    .article {
        margin-bottom: 20px;

        &__title {
            margin: 0;
            margin-bottom: 10px;
            font-size: 1.25em;
            font-weight: 400;
        }

        &__items {
            margin: 0;
            margin-bottom: 10px;
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.sidebar {
    padding: 25px 15px;

    .section__title {
        border-bottom: 2px solid #fff;
    }

    .article__items {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0;
        list-style-type: none;

        &>* {
            display: flex;
            justify-content: space-between;
            margin: 0;

            &>span {
                font-weight: 600;
            }
        }
    }

    .portfolio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-style: normal;

        &>* {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            & a {
                color: #fff;
                text-decoration: none;
                margin-top: 5px;
            }
        }
    }
}

main {
    padding: 25px;

    .job {
        .article__title {
            margin-bottom: 5px;
        }

        &__workplace {
            font-size: 0.75em;
            color: $color-secondary;
        }

        &__timeline {
            display: inline-block;
            margin-bottom: 5px;
            color: $color-primary;
        }

        &__stack {
            margin-bottom: 10px;

            &>span {
                display: inline-block;
                background-color: $color-secondary;
                color: #fff;
                font-size: 0.80em;
                line-height: 20px;
                border-radius: 10px;
                padding: 0 7.5px;
            }
        }
    }
}

.download {
    position: sticky;
    bottom: 20px;
    display: flex;
    justify-content: end;
    margin: 0 20px;

    &__button {
        border: none;
        border-radius: 10px;
        background-color: $color-primary;
        color: #fff;
        padding: 15px;
        font-size: 16px;
        transition: all .1s linear;

        &:hover {
            background-color: lighten($color-primary, 2%);
            cursor: pointer;
        }

        &:active {
            background-color: lighten($color-primary, 6%);
            transition: none;
        }
    }
}