main .section .job, main .section {
  margin: 0 0 25px 0;
  border-left: 2px solid;
  padding-left: 25px;
}

body {
  width: 1240px;
  margin: auto;
  display: grid;
  grid-template: 240px auto/240px auto;
  font-family: TT Commons, Roboto, Oxygen, "Helvetica Neue", sans-serif;
}
body > .profile {
  background-color: #0c7cd5;
  grid-column: 1;
  grid-row: 1;
  border-bottom: 12px solid #fff;
}
body > header {
  grid-column: 2;
  grid-row: 1;
  border-bottom: 12px solid #0c7cd5;
}
body > .sidebar {
  background-color: #0c7cd5;
  color: #fff;
  grid-column: 1;
  grid-row: 2;
}
body > main {
  grid-column: 2;
  grid-row: 2;
}

.qr {
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.qr--linkedin {
  background-image: url("../images/qr_linkedin.svg");
}
.qr--gitlab {
  background-image: url("../images/qr_gitlab.svg");
}
.qr--github {
  background-image: url("../images/qr_github.svg");
}
.qr--npm {
  background-image: url("../images/qr_npm.svg");
}
.qr--docker {
  background-image: url("../images/qr_docker.svg");
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__image {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
  background-image: url("../images/profile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px 10px;
  font-size: 20px;
  font-style: normal;
}
.contact .title__name {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}
.contact .title__profession {
  font-size: 1.1em;
  font-weight: 400;
  color: #0c7cd5;
  margin: 0;
}
.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9em;
  font-style: normal;
}
.contact-info > * {
  margin: 0;
}
.contact-info > * a {
  color: #000;
  text-decoration: none;
}
.contact-info .qr {
  position: absolute;
  right: -20px;
  bottom: 0;
}

.sidebar {
  padding: 25px 15px;
}
.sidebar__section__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
.sidebar__section__subtitle {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.25em;
  font-weight: 400;
}
.sidebar__section__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
.sidebar__section__items > *:not(h4) {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.sidebar__section__items > *:not(h4) > span {
  font-weight: 600;
}
.sidebar__section .portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-style: normal;
}
.sidebar__section .portfolio > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.sidebar__section .portfolio > * a {
  color: #fff;
  text-decoration: none;
  margin-top: 5px;
}

main {
  padding: 25px;
}
main .section__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.75em;
}
main .section .job__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.25em;
}
main .section .job__title--workplace {
  font-size: 0.75em;
  font-weight: 400;
  color: #959a9f;
}
main .section .job__timeline {
  font-size: 1em;
  color: #0c7cd5;
}
main .section .job__tasks, main .section .job__description {
  margin: 0;
  margin-top: 12px;
}

/*# sourceMappingURL=style.css.map */
