$color-primary: #0c7cd5;
$color-secondary: #959a9f;

%title {
    margin: 0;
    margin-bottom: 20px;
}

%section {
    margin: 0 0 25px 0;
    border-left: 2px solid;
    padding-left: 25px;
}

body {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template: 240px auto / 240px auto;
    font-family: TT Commons, Roboto, Oxygen, 'Helvetica Neue', sans-serif;


    &>.profile {
        background-color: $color-primary;
        grid-column: 1;
        grid-row: 1;
        border-bottom: 12px solid #fff;

    }

    &>header {
        grid-column: 2;
        grid-row: 1;
        border-bottom: 12px solid $color-primary;
    }

    &>.sidebar {
        background-color: $color-primary;
        color: #fff;
        grid-column: 1;
        grid-row: 2;
    }

    &>main {
        grid-column: 2;
        grid-row: 2;
    }
}

.qr {
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--linkedin {
        background-image: url('../images/qr_linkedin.svg');
    }

    &--gitlab {
        background-image: url('../images/qr_gitlab.svg');
    }

    &--github {
        background-image: url('../images/qr_github.svg');
    }

    &--npm {
        background-image: url('../images/qr_npm.svg');
    }

    &--docker {
        background-image: url('../images/qr_docker.svg');
    }
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 10px;
        background-image: url('../images/profile.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 10px;
    font-size: 20px;
    font-style: normal;

    .title {
        &__name {
            font-size: 2em;
            font-weight: 400;
            margin: 0;
        }

        &__profession {
            font-size: 1.1em;
            font-weight: 400;
            color: $color-primary;
            margin: 0;
        }
    }

    &-info {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: .9em;
        font-style: normal;

        &>* {
            margin: 0;

            & a {
                color: #000;
                text-decoration: none;
            }
        }

        .qr {
            position: absolute;
            right: -20px;
            bottom: 0;
        }
    }
}

.sidebar {
    padding: 25px 15px;

    &__section {
        &__title {
            margin: 0;
            margin-bottom: 20px;
            font-size: 1.5em;
            font-weight: 400;
            padding-bottom: 5px;
            border-bottom: 2px solid #fff;
        }

        &__subtitle {
            margin: 0;
            margin-bottom: 5px;
            font-size: 1.25em;
            font-weight: 400;
        }

        &__items {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 20px;

            &>*:not(h4) {
                display: flex;
                justify-content: space-between;
                margin: 0;

                &>span {
                    font-weight: 600;
                }
            }
        }

        .portfolio {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            font-style: normal;

            &>* {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                & a {
                    color: #fff;
                    text-decoration: none;
                    margin-top: 5px;
                }
            }
        }
    }
}

main {
    padding: 25px;

    .section {
        @extend %section;

        &__title {
            margin: 0;
            margin-bottom: 10px;
            font-size: 1.75em;
        }

        .job {
            @extend %section;

            &__title {
                margin: 0;
                margin-bottom: 5px;
                font-size: 1.25em;

                &--workplace {
                    font-size: 0.75em;
                    font-weight: 400;
                    color: $color-secondary;
                }
            }

            &__timeline {
                font-size: 1em;
                color: $color-primary;
            }

            &__tasks,
            &__description {
                margin: 0;
                margin-top: 12px;
            }
        }
    }
}

// @media (max-width: 720px) {
//     body {
//         grid-template: auto auto auto / 1fr;
//         & > aside {
//            grid-column: 1;
//            grid-row: 3;
//            margin-top: -2rem;
//        }
//     }
// }

// @media (max-width: 540px) {
//     body > header {
//         grid-template: auto 1fr / 1fr;
//         grid-gap: 0.5rem;
//     }

//     .profile__image {
//         width: 10rem;
//         height: 10rem;
//     }

//     .contact {
//         grid-column: 1;
//         grid-row: 2;
//         margin: 0;

//         &--bottom {
//             margin: 1rem 0 0 0;
//         }
//     }
// }